<section data-ng-controller="List<%= classifiedPluralName %>Controller">
    <div class="page-header">
        <span class="h1"><%= humanizedPluralName %></span>
        <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-primary" ng-click="openAddModal()">Add <%= humanizedSingularName %></button>
        </div>
    </div>
    

    <div ng-show="<%= camelizedPluralName %>.length > 0">
        <table ng-table="tableParams" show-filter="true" class="table">
            <tr ng-repeat="<%= camelizedSingularName %> in $data" context-menu data-target="editContextMenu">
                <td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">
                    <a href ng-click="openEditModal(<%= camelizedSingularName %>)">{{ <%= camelizedSingularName %>.name }}</a>
                </td>
            </tr>
        </table>

        <div class="table-row-overlay" ng-show="deleteConfirmationOverlay">
            <div class="table-row-overlay-inner">
                <div class="col-md-8 col-md-offset-2 table-row-overlay-text">
                    Delete <%= humanizedSingularName %>?
                    <img src="/modules/core/img/loaders/loader.gif" height="1em" ng-show="__deleteProgress">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="contextMenuDelete()">Delete</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteConfirmationOverlay = false; __deleteProgress = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DROPDOWNS -->
    <div class="dropdown" style="position: fixed; z-index: 2;" id="editContextMenu">
        <ul class="dropdown-menu" role="menu">
            <!-- <li>
                <a href role="menuitem" ng-click="">
                    context menu drop down
                </a>
            </li>
            <li class="divider"></li> -->
            <li>
                <a href role="menuitem" ng-click="contextMenuDeleteConfirm()">
                    Delete
                </a>
            </li>
        </ul>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!<%= camelizedPluralName %>.$resolved || <%= camelizedPluralName %>.length">
        No <%= humanizedPluralName %> yet, why don't you <a href ng-click="openAddModal()">create one</a>?
    </div>
</section>